.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  grid-gap: 5px;
  align-content: space-between;
  align-items: stretch;
  margin: 150px;
  padding: 100px;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}
.nav-links{
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color:#ADEEE3;
  display: inline;
  margin-right: 30px;
  padding: 20px;
}


a {
  float: inline-end;
  list-style: none;
  margin-top:20px;
  padding-right:20px
}

.register{
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 30px;
  margin: 20px auto;
  padding: 150px;

  width: 600px;
}

.register label{
 
  padding: 10px 0;
}

.register input {
  width: 100%;
  font-size: 14px;
}
.resources{
  display: flex;
  flex-direction: column;
  margin:30px;
}

.input-wrapper{
  grid-column-start: 3;
  grid-column-end: -1;
 
}
.home-wrapper{
  padding:20px;
  display: flex;
  flex-direction: column;
  margin:30px;
}

.create-journal{
  display: flex;
  flex-direction: column;
}

form{
  grid-column-start: 3;
  grid-column-end: 5;
  margin: auto 20px;
  padding: 10px;
}

.input

textarea {
  height: 200px;
  display: flex;
  flex-wrap:wrap;
  
}

button{
  border-radius: 50%;
  border-color: white;
  background-color: peachpuff;
}

.journal_card{
  background-color: peachpuff ;
  padding: 1em;
  width: 20em;
  height: 25em;
  border-radius: 0.5em;
  margin: 20px;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: black;
  cursor: pointer;
}

.journal-name{
  border: white;
  border-width: 10px;
}

.page-grid{
  display: flex;
  align-items: center;
  flex-direction: column;


}

.page-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  object-fit: center;
  align-items: center;
  box-shadow: inset 0 0 1em brown(0, 0, 0);
  background-color: peachpuff;
  margin:50px;
  border-radius: 10%;
}

.journal-entry-page-card{
  padding:20px;
  font-size: 30px;

}

.mood{
font-family: 'Satisfy', cursive;
font-size: 25px;
  ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
